*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 500;
}
body{
    background-color: rgb(115, 119, 137);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}
.calculator{
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(209, 204, 204);
    max-width: 273px;
}
input, .operator, .equal{
    padding: 10px;
    text-align: center;
    height: 60px;
    width: 60px;
    outline: none;
    font-size: 23px;
    border: 2px solid;
    transition: 0.25s;
    cursor: pointer;
}
.equal, .AC{
    width: 124px;
}

.display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
    height: 90px;
    font-size: 27px;
    font-weight: 600;
    background-color: grey;
    border-radius: 2px;
    padding: 27px;
    overflow: hidden;
    border: 3px solid;
}
.display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    background-color: transparent;
}
.operator, .equal{
    background-color: orange;
}
input{
    background-color: rgb(154, 168, 247);
}
input:hover, button:hover{
    opacity: 0.7;
}
.AC{
    background-color: rgb(255, 0, 0);
}